header div.container {
  background: var(--background);
  border: 1px solid $dark1;
  padding: 2rem;
}

div[role="alert"]{
    display: grid;
    grid-template-columns: 98% 2%;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid $dark1;
    color: var(--foreground);
    background: var(--background);
    button {
        display: inline-grid;
        margin-right: 1rem;
        justify-self: end;
        cursor: pointer;
        color: var(--foreground);
        &:hover {
            color: var(--green);
        }
    }
    a {
        color: inherit;
        &:hover {
            color: var(--green);
            border-bottom: 1px solid var(--green);
        }
    }
}
