main > nav,
aside {
  position: sticky;
  top: 1rem;
  height: calc(110vh - 1rem);
  overflow-y: auto;
  overflow-x: hidden;
  a.close {
    display: none;
  }
}

@media (max-width: 1000px) {
  main > nav,
  aside {
    top: -0.25rem;
    border: none;
    bottom: 0;
    background: var(--background);
    width: 50%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    transition: transform 0.25s ease;
    a.close {
      display: block;
      z-index: 6;
    }
  }
}
