main > nav,
aside {
  position: sticky;
  top: 1rem;
  height: calc(110vh - 1rem);
  overflow-y: auto;
  overflow-x: hidden;
  a.close {
    display: none;
  }
}

@media (max-width: 1000px) {
  main nav,
  aside {
    position: fixed;
    top: 0;
    border: none;
    background: var(--background);
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 0.25s ease;
    a.close {
      display: inline-block;
      margin-right: 1.25rem;
      padding: inherit;
    }
  }
}
