.welcome {
  padding-top: 2em;
  color: var(--foreground);
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .welcome {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }

  .error {
    h1 {
      font-size: 80px !important;
    }

    h2 {
      font-size: 40px !important;
    }

    h3 {
      font-size: 20px !important;
    }
  }
}

.error {
  color: var(--foreground);
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-columns: inherit;
  grid-gap: inherit;
  grid-auto-rows: inherit;
  justify-items: center;
  font-weight: 400;
  margin-bottom: 2em;

  h1 {
    font-size: 250px;
  }

  h2 {
    font-size: 100px;
  }

  h3 {
    font-size: 50px;
  }
}
