@import "base";

section.intro {
  color: var(--foreground);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  div.started {
    width: 50%;
    margin-left: 2rem;
    h1 {
      font-size: 70px;
    }
    p:nth-child(2) {
      font-size: 30px;
    }
  }
  div[role="install"] {
    display: grid;
    grid-template-rows: repeat(2, 0.1fr) 0.5fr 0.15fr;
    grid-row-gap: 0.5rem;
    justify-items: space-between;
    margin-top: 4rem;
    span {
      font-weight: bold;
      font-size: 25px;
      &.lite {
        font-weight: normal;
      }
    }
    code {
      padding: 10px 20px;
      border: 1px solid var(--green);
      background-color: var(--background);
    }
    a span {
      color: var(--foreground);
      font-size: 17px;
      opacity: 85%;
    }
    a[type="button"] {
      color: var(--background);
      display: inline-block;
      overflow: hidden;
      background-color: var(--green);
      line-height: 38px;
      padding: 0 10px;
      width: 10rem;
      span {
        color: var(--background);
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  div.homepage {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}
