@import 'base';

@import 'macros/header';
@import 'macros/footer';
@import 'macros/search';
@import 'experimental';

:root {
  --black: #111111;
  --white: #ffffff;
  --light2: #bbbbbb;
  --light3: #dddddd;
  --green: #2ecc40;
}

* {
  padding: 0;
  border: 0;
}

html {
  font-family: 'Inter';
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--foreground);
  &:hover {
    color: var(--green);
  }
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  --foreground: var(--black);
  --background: var(--white);
  background: var(--background);
  min-height: 100vh;
}

body[data-theme='black'] {
  --background: var(--black);
  --foreground: var(--white);
}

body[data-theme='light'] {
  --foreground: var(--black);
  --background: var(--white);
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme='light']) {
    --background: var(--black);
    --foreground: var(--white);
  }
}

button {
  background: transparent;
}

// flex space between basic styles
header nav {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
  }
}

main {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}
