// Color system variables
$black: #111111 !default;
$dark3: #333333 !default;
$dark2: #555555 !default;
$dark1: #777777 !default;
$light1: #999999 !default;
$light2: #bbbbbb !default;
$light3: #dddddd !default;
$light4: #f9f9f9  !default;
$white: #ffffff !default;
$red: #ff4136 !default;
$orange: #ff851b !default;
$yellow: #ffdc00 !default;
$green: #2ecc40 !default;
$aqua: #7fdbff !default;
$blue: #0074d9 !default;
$purple: #b10dc9 !default;
$brown: #85144b !default;

:root {
    --black: #{$black};
    --white: #{$white};
    --green: #{$green};
}

$black: var(--black);
$green: var(--green);
$white: var(--white);


// Import components
@import 'src/toc';
@import 'src/sidebar';
@import 'src/header';
@import 'src/page';
@import 'src/footer';
@import 'src/menu';


* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Inter';
}
a {
    text-decoration: none;
    color: $black;
    &:hover {
        color: $green;
    }
}
ul {
    list-style: none;
}

.docs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 15px;
}

.welcome {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 100px;
    padding-top: 2em;
    &-p {
        display: flex;
        justify-content: center;
    }
}
.error {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 400;
    margin-bottom: 2em;
    min-height: calc(100vh - 87px);
    & h1 {
        font-size: 250px;
    }
    & h2 {
        font-size: 100px;
    }
    & h3 {
        font-size: 50px;
    }
}
