@import 'base';

@import 'components/flexs';

@import 'layouts/header';
@import 'layouts/footer';

:root {
  --black: #111111;
  --white: #ffffff;
  --light2: #bbbbbb;
  --light3: #dddddd;
  --green: #2ecc40;
}

* {
  padding: 0;
  border: 0;
}

html {
  font-family: 'Inter';
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--black);
  &:hover {
    color: var(--green);
  }
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body[data-theme="black"] {
    --background: var(--black);
    --foreground: var(--white);
}

body[data-theme="light"] {
    --foreground: var(--black);
    --background: var(--white);
}

body {
    --foreground: var(--black);
    --background: var(--white);
}

//@media (prefers-color-scheme: dark) {
 //body:not([data-theme="light"]) {
//    --black: #111111;
 //   --white: #ffffff;
 //}
//}
