@import 'src/base';

@import 'src/header';
@import 'src/footer';

:root {
  --black: #111111;
  --white: #ffffff;
  --light2: #bbbbbb;
  --light3: #dddddd;
  --green: #2ecc40;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
//  box-sizing: border-box;
}

html {
  font-family: 'Inter';
}
a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $green;
  }
}
ul {
  list-style: none;
}

