@import 'base';

@import 'navs';
@import 'article';

@import 'macros/sidebar';
@import 'macros/toc';

.mheader {
  display: none;
}

@media (max-width: 1000px) {
  main {
    margin-top: 0px;
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  div.mheader {
    display: grid;
    position: fixed;
    top: 2.6rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    background: var(--background);
    color: var(--foreground);
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid $dark1;
    a {
      padding-left: 0.5rem;
      &:last-child {
        justify-self: end;
      }
    }
  }
}
