@import 'src/base';

@import 'src/article';
@import 'src/sidebar';
@import 'src/toc';

.docs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 15px;
}

.show-bar {
    display: none;
}


@media(max-width: 1000px) {
  .docs {
    margin-top: 0px;
  }
  .show-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 2.1rem;
    border-bottom: 2px solid $black;
  }
}
