@import 'base';

@import 'navs';
@import 'article';

@import 'macros/sidebar';
@import 'macros/toc';


.show-bar {
  display: none;
}

@media (max-width: 1000px) {
  main {
    margin-top: 0px;
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  .show-bar {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    background: var(--backgorund);
    width: 100%;
    border-bottom: 1px solid $dark1;
    a {
      padding-left: 0.5rem;
      &:last-child{
          justify-self: end;
      }
    }
  }
}
