@charset "UTF-8";

// Color system variables
$dark2: #555 !default;
$light4: #f9f9f9 !default;
$orange: #ff851b !default;
$aqua: #7fdbff !default;
$purple: #b10dc9 !default;
$brown: #85144b !default;
$light2: var(--light2);
$light3: var(--light3);
