# node_moodules folder from styles and math rendering
node_modules/
# public folder generation from zola
public/
static/

# github
!static/CNAME

# toml files
.build.toml
compose.toml

# compiler js files
.swc/

