header {
  border-bottom: 0.1rem solid $dark1;
}

main {
  // grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}

.mheader {
  display: none;
}

@media (max-width: 1000px) {
  main {
    margin-top: 0;
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }

  div.mheader {
    position: sticky;
    display: inline-grid;
    top: 0;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    background: var(--background);
    color: var(--foreground);
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid $dark1;

    a {
      padding-left: 0.5rem;

      &:last-child {
        justify-self: end;
      }
    }
  }
}
