// flex space between basic styles
header > nav, main, main > div{
  display: flex;
  justify-content: space-between;
}

header > nav > ul,.flex-center {
    display: flex;
    align-items: center;
}
