{% import 'macros/folio.html' as page -%}
{% import 'macros/header.html' as top_nav -%}
{% import 'macros/mobile-header.html' as mobile_header %}

{# footer in the page #}
{% macro footer() %}
{% if config.extra.footer%}
<footer>
        <ul>
        {% for item in config.extra.footer %}
        {% if item.lang and item.lang == lang and item.text %}
        <li>
             <span> {{ item.text | safe }} </span>
        </li>
        {% elif not item.lang and item.text %}
        <li>
            <span> {{ item.text | safe }} </span>
        </li>
        {% elif item.version and not item.text %}
                {% set path = load_data(url=item.version, format="json") %}
            <li>
                <a href="{{ path.html_url }}">  <span>  {{ path.tag_name }} </span> </a>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
</footer>
{% endif %}
{% endmacro %}

{% macro title_or_last(component, offset=2) %}
    {% set length = component.components | length %}
    {% set last = component.components | last %}
    {{ component.title | default(value=name) }}
{% endmacro title_or_last %}
{# math library - katex enable #}
{% macro math() %}
{% if page.extra.math or section.extra.math or config.extra.math %}
{{ macros::styles(file="katex/dist/katex.min.css",usecdn=true) }}
{% for files in ["katex/dist/katex.min.js","katex/dist/contrib/auto-render.min.js","katex/dist/contrib/mathtex-script-type.min.js"] %}
    {{ macros::scripts(file=files,type="defer",usecdn=true) }}
{% endfor %}
{{ macros::scripts(file="setting-katex.js") }}
        {% endif %}
{% endmacro %}

{% macro diagrams() %}
{% if page.extra.diagrams or section.extra.diagrams or config.extra.diagrams %}
{{ macros::scripts(file="setting-mermaid.js") }}
{{ macros::scripts(file="mermaid/dist/mermaid.min.js",usecdn=true) }}
{% endif %}
{% endmacro %}

{% macro styles(file,usecdn=false) %}
{% if config.extra.localcdn or usecdn == false %}
<link rel="stylesheet" href="{{ get_url(path=file) }}">
{% elif usecdn == true %}
{% set cdnurl = config.extra.cdnurl | default(value="https://cdn.jsdelivr.net/npm") %}
<link rel="stylesheet" href="{{cdnurl | safe }}/{{ file }}">
{% elif config.extra.assets_url %}
<link rel="stylesheet" href="{{ config.extra.assets_url }}/{{ file }}">
{% endif %}
{% endmacro %}

{% macro scripts(file, usecdn=false, type="") %}
{% if config.extra.localcdn or usecdn == false %}
<script src="{{ get_url(path=file) | safe }}" {{ type }}></script>
{% elif usecdn == true %}
{% set cdnurl = config.extra.cdnurl | default(value="https://cdn.jsdelivr.net/npm") %}
<script src="{{ cdnurl | safe }}/{{ file }}" {{ type }}></script>
{% elif config.extra.assets_url %}
<script src="{{ assets_url | safe }}/{{ file }}" {{ type }}></script>
{% endif %}
{% endmacro %}
