{# table of content #}
{% macro toc(page) %}
<aside id="toc">
    <a aria-label="close button" href="#close" class="close" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z" fill="currentColor"></path></svg>
    </a>
    {% if config.extra.repo and config.extra.repo_branch %}
    <ul>
        <li class="edit-page">
                <a aria-label = "edit this page" href="{{ config.extra.repo }}/blob/{{ config.extra.repo_branch }}/content{{ current_path | replace(from="\\", to="/") | trim_end_matches(pat="/") }}.md">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="17" height="17" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M2 26h28v2H2zM25.4 9c.8-.8.8-2 0-2.8l-3.6-3.6c-.8-.8-2-.8-2.8 0l-15 15V24h6.4l15-15zm-5-5L24 7.6l-3 3L17.4 7l3-3zM6 22v-3.6l10-10l3.6 3.6l-10 10H6z"></path></svg>
                 Edit this page
            </a>
        </li>
    </ul>
    {% endif %}
    <span> In this article: </span>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a aria-label="{{ h1.id }}" href="{{ h1.permalink | safe }}"> {{ h1.title }} </a>
        </li>
        {% if not page.extra.disable_children %}
            {% for h2 in h1.children %}
                <li class="children">
                    <a aria-label="{{ h2.id }}" href="{{ h2.permalink | safe }}"> {{ h2.title }} </a>
                </li>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</aside>
{% endmacro %}

{# sidebar #}
{% macro sidebar(current_url) %}
  {% if config.extra.doc_section %}
            {% set index_path = doc_section ~ "_index.md" %}
            {% set index = get_section(path=index_path) %}
    {% else %}
        {% set index = get_section(path="_index.md") %}
    {% endif %}
    <nav id="sidebar" >
        <a aria-label="close button" href="#close" class = "close" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z" fill="currentColor"></path></svg>
    </a>
    <ul>
    {% if index.pages %}
    {% for page in index.pages %}
    <li class="{% if current_url == page.permalink %} active{% endif %}">
            <a class="{% if current_url == page.permalink %} active {%endif%}" href="{{ page.permalink | safe  }}">
                <span> {{page.title }} </span>
            </a>
        </li>
    {% endfor %}
    {% endif %}
        {% if index.subsections %}
        {% for s in index.subsections %}
        {% set subsection = get_section(path=s) %}
        <li class="subsection">
          <input id="toggle" type="checkbox" {% if current_path is starting_with(subsection.path) %}checked{% endif %}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M22 16L12 26l-1.4-1.4l8.6-8.6l-8.6-8.6L12 6z"></path></svg>
        <label for="toggle">
          {% if config.translations %}
            {{ trans(key="subsection.title", lang=lang) }}
        {% else %}
            {{ subsection.title }}
         {% endif %}
        </label>
        <ul class="subsection">
            {% if subsection.pages %}
            {% for page in subsection.pages %}
            <li class ="{% if current_url == page.permalink %} active {% endif %}">
                <a class="{% if current_url == page.permalink %} active {%endif%}"  href="{{ page.permalink | safe}}">
                    {% if config.translations %}
                    <span> {{ trans(key=page.title,lang=lang) }} </span>
                    {% else %}
                    <span> {{ page.title }} </span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
            {% endif%}
            </ul>
        </li>
            {% endfor %}
    {% endif %}
    </ul>
</nav>
{% endmacro %}

{% macro relative_path() %}
{% if config.extra.relative_path or page.extra.relative_path %}
    {% for parent in page.ancestors %}
    {% set s = get_section(path=parent, include_pages=false) %}
    <li class="sections-no-padding">
        <a aria-label="{{ s.title }}" href="{{s.permalink}}">/{{s.title | lower }}</a>
    </li>
    {% endfor %}
    <li> <a aria-label="{{ page.slug }}" href="{{ page.permalink }}">/{{ page.slug }}</a></li>
    {% endif %}
{% endmacro %}

{% macro taxonomies_authors() %}
{% if page.extra.authors %}
    <li>
    <span> Authors:  </span>
    {% for author in page.extra.authors %}
      <li>
          {#         <!--  <a href="{{ get_taxonomy_url(kind="authors",name=author) | safe }}"> --> #}
        <span>{{ author }}</span>
        {#   <!-- </a> --> #}
      </li>
    {% endfor %}
    </li>
{% endif %}
{% endmacro %}

{% macro date() %}
{% if page.date %}
    <li><time> date: {{ page.date | date(format="%F") }}</time></li>
{% endif %}
{% endmacro %}

{% macro updated() %}
{% if page.updated %}
  <li><time> updated: {{ page.updated | date(format="%F") }}</time></li>
{% endif %}
{% endmacro %}

{% macro word_count() %}
{% if config.extra.show_word_count %}
    <li> <span> {{ page.word_count }} words </span></li>
{% endif %}
{% endmacro %}

{% macro reading_time() %}
{% if config.extra.show_reading_time %}
    <li> <span> {% if page.reading_time > 1  %} {{ page.reading_time}} minutes {% elif page.reading_time == 0  %} less minute {% else %} {{ page.reading_time}} minute {% endif %} to read </span></li>
{% endif %}
{% endmacro %}

