{# header component  #}
{% macro header(current_url) %}
{% if config.extra.alert_file %}
    {{ top_nav::alert(file=config.extra.alert_file) }}
{% endif %}
{% set current_link = current_url | safe | trim_end_matches(pat="/")  %}
<header>
    <nav aria-label="section navigation" itemscope itemtype="http://shema.org/SiteNavigationElement">
        <ul>
            <li>
                <a class="{% if current_link == config.base_url %} active {% endif %} {% if config.extra.logotype %} {%endif%}" href="{{ config.base_url | safe }}">
                    {% if config.extra.logotype %}
                    <div class="logotype">
                      <img width="31" height="31" alt="favicon" src="{{ get_url(path=config.extra.logotype)}}" />
                    </div>
                    {% else %}
                    <span> {{ config.extra.header.name | default(value="Home") }}</span>
                    {% endif %}
                </a>
            </li>
            {% if config.extra.header_left %}
            {% for item in config.extra.header_left %}
            {% set val_link = item.link  | replace(from="$base_url", to=config.base_url) %}
            <li>
                <a itemprop="url" class="{% if current_url is starting_with(val_link) %} active {% endif %}" href="{{ val_link | safe }}">
                    <span > {{ item.text }} </span>
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        	{% if config.build_search_index %}
            <form name="go_search">
                <input class="search" type="search" placeholder="Search ..."
						aria-label="Search ..." autocomplete="off">
                <button class="clear" type="reset">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="22" height="22" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z" fill="currentColor"></path></svg>
                </button>
                <div class="items"></div>
			</form>
			{% endif %}
        {% if config.extra.header_right %}
        <ul>
            {% for item in config.extra.header_right %}
            {% set item_link = item.link | replace(from = "$base_url", to=config.base_url) %}
                <li>
                    <a  aria-label="{% if item.alt %} {{ item.alt }} {% else %} {{ item.link }} {%endif%}" itemprop="url" class="vector" href=" {{ item_link | safe }} ">
                    {% if item.svg %}
                        <span class="svg">
                            {{ item.svg | safe }}
                        </span>
                    {% endif %}
                    {% if item.text %}
                        <span> {{ item.text }} </span>
                    {% endif %}
                    </a>
                </li>
                {% endfor %}
                <li class="separator">
                {% if config.extra.devmode %}
                {% if config.languages and config.extra.languages %}
               <div class="dropdown">
                    <button class="vector" aria-expanded="false">
                        <span class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M27.85 29H30l-6-15h-2.35l-6 15h2.15l1.6-4h6.85zm-7.65-6l2.62-6.56L25.45 23zM18 7V5h-7V2H9v3H2v2h10.74a14.71 14.71 0 0 1-3.19 6.18A13.5 13.5 0 0 1 7.26 9h-2.1a16.47 16.47 0 0 0 3 5.58A16.84 16.84 0 0 1 3 18l.75 1.86A18.47 18.47 0 0 0 9.53 16a16.92 16.92 0 0 0 5.76 3.84L16 18a14.48 14.48 0 0 1-5.12-3.37A17.64 17.64 0 0 0 14.8 7z"></path></svg>
                        </span>
                </button>
                    <ul class="dropdown">
                        {% for l in config.extra.languages %}
                        <li>
                            <a itemprop="url" href="{{ config.base_url | safe }}{% if l != config.default_language %}/{{ l }}{% endif %}"
                                {% if l == lang %}
                                aria-selected="true"
                                {% endif %}>
                                <span> {{ l }} </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                 <button class="toggle vector" type="button" aria-label="Toggle mode">
                 <span class="svg">
                     <svg class="toggle-light" fill = "currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><title>asleep</title><path d="M13.5025,5.4136A15.0755,15.0755,0,0,0,25.096,23.6082a11.1134,11.1134,0,0,1-7.9749,3.3893c-.1385,0-.2782.0051-.4178,0A11.0944,11.0944,0,0,1,13.5025,5.4136M14.98,3a1.0024,1.0024,0,0,0-.1746.0156A13.0959,13.0959,0,0,0,16.63,28.9973c.1641.006.3282,0,.4909,0a13.0724,13.0724,0,0,0,10.702-5.5556,1.0094,1.0094,0,0,0-.7833-1.5644A13.08,13.08,0,0,1,15.8892,4.38,1.0149,1.0149,0,0,0,14.98,3Z"/></svg>
                 <svg class="toggle-black" fill = "currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><title>asleep_black</title><path d="M14.98,3a1.0024,1.0024,0,0,0-.1746.0156A13.0959,13.0959,0,0,0,16.63,28.9973c.1641.006.3282,0,.4909,0a13.0724,13.0724,0,0,0,10.702-5.5556,1.0094,1.0094,0,0,0-.7833-1.5644A13.08,13.08,0,0,1,15.8892,4.38,1.0149,1.0149,0,0,0,14.98,3Z"/></svg>
                 </span>
             </button>
             <button class="vector search">
                 <span class="svg"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9Z"></path></svg>
                </span>
            </button>
        </li>
    </ul>
        {% endif %}
    </nav>

</header>

{% endmacro %}

{% macro alert(file) %}
{% set alert = load_data(path=file | safe) %}
<div role="alert"
     {% if alert.bg_color and alert.text_color %}
     style="
     background-color: {{ alert.bg_color }};
     color: {{ alert.text_color }};
     "
     {% elif alert.bg_color %}
     style="
     background-color: {{ alert.bg_color }};
     "
     {% elif alert.text_color %}
     style="
     color: {{ alert.text_color }};
     "
    {% endif %}>
    <span> {{ alert.text | safe }} </span>
    {% if alert.dismissable %}
    <button aria-label="close alert">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="22" height="22" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z" fill="currentColor"></path></svg>
    </button>
    {% endif %}
</div>
{% if alert.dismissable %}
{{ macros::scripts(file="alert-close.js") }}
{% endif %}
{% endmacro %}
