<!-- header  -->
<!-- It's hack -->
{% macro header(current_url) %}
{% set current_link = current_url | safe | trim_end_matches(pat="/")  %}
<header>
    <nav aria-label="section navigation" itemscope itemtype="http://shema.org/SiteNavigationElement">
        <ul>
            <li>
                <a class="{% if current_link == config.base_url %} active {% endif %} {% if config.extra.logotype %} {%endif%}" href="{{ config.base_url | safe }}">
                    {% if config.extra.logotype %}
                    <div class="logotype">
                      <img width="31" height="31" alt="favicon" src="{{ get_url(path=config.extra.logotype)}}" />
                    </div>
                    {% else %}
                    <span> {{ config.extra.header.name | default(value="Home") }}</span>
                    {% endif %}
                </a>
            </li>
            {% if config.extra.header_left %}
            {% for item in config.extra.header_left %}
            {% set val_link = item.link  | replace(from="$base_url", to=config.base_url) %}
            <li>
                <a itemprop="url" class="{% if current_link == val_link %} active {% endif %}" href="{{ val_link | safe }}">
                    <span > {{ item.text }} </span>
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        	{% if config.build_search_index %}
            <form>
                <input id="userinput" type="search" placeholder="Search ..."
						aria-label="Search ..." autocomplete="off">
                {#
                <!-- <button type="submit" title="Submit your search query.">
                                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"  preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29zM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9z" fill="currentColor"></path></svg>
                </button>
                -->
                #}
                <div id="suggestions"></div>
				</form>
			{% endif %}
        {% if config.extra.header_right %}
        <ul>
            {% for item in config.extra.header_right %}
            {% set item_link = item.link | replace(from = "$base_url", to=config.base_url) %}
                <li>
                    <a  aria-label="{% if item.alt %} {{ item.alt }} {% else %} {{ item.link }} {%endif%}" itemprop="url" class="vector" href=" {{ item_link | safe }} ">
                    {% if item.svg %}
                        <span class="svg">
                            {{ item.svg | safe }}
                        </span>
                    {% endif %}
                    {% if item.text %}
                        <span> {{ item.text }} </span>
                    {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
         <button class="toggle" type="button" aria-label="Toggle mode"> switch mode</button>
    </nav>
</header>

{% if config.extra.devmode %}
<div class="header__container flex-between">
    <a itemprop="url" class="header__container-link" href="/zero">
    <span class="header__container-svg">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--simple-line-icons" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M768 0H416q-27 0-45.5 18.5T352 64h352v256h256v512H736v64h224q27 0 45.5-18.5T1024 832V256zm0 256V90l165 166H768zM64 128q-27 0-45.5 18.5T0 192v768q0 27 18.5 45.5T64 1024h544q27 0 45.5-18.5T672 960V384L416 128H64zm544 832H64V192h288v256h256v512zM416 384V218l165 166H416z" fill="currentColor"></path></svg>
    </span>
     <div class="header__container-column">
     <h3 class="header__container-title"> zero </h3>
     <p class="header__container-description"> is a number </p>
     </div>
    </a>
</div>
{% endif %}
{% endmacro %}
