aside,
div#toc {
  position: sticky;
  top: 2rem;
  height: calc(110vh - 2rem);
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  a.close {
    display: none;
  }
}

@media (max-width: 1000px) {
  aside,
  div#toc {
    position: fixed;
    top: 0;
    border: none;
    background: var(--background);
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 0.25s ease;

    a.close {
      display: inline-block;
      margin-right: 1.25rem;
      padding: inherit;
    }
  }
}
