header li.separator {
  display: inline-flex;
  /* stylelint-disable-next-line rule-empty-line-before */
  button:hover ul.dropdown,
  div.dropdown:hover ul.dropdown {
    opacity: 1;
  }
}

header ul.dropdown {
  position: absolute;
  display: block;
  top: 2.8rem;
  right: 1rem;
  background: var(--background);
  border: 1px solid $dark1;
  max-width: 8rem;
  overflow-y: auto;
  /* stylelint-disable-next-line */
  box-shadow: -1px 10px 3px -3px rgba(0, 0, 0, 0.07);
  z-index: 7;
  opacity: 0;
  transition: opacity 0.5s;

  & li {
    padding: 24px;
    margin-right: inherit;
  }

  & span {
    font-size: 17px;
  }

  & a {
    padding: 0 20px;
  }

  & span:hover {
    border: inherit;
  }

  & a:hover,
  a[aria-selected="true"] {
    background: $dark3;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  header div.dropdown {
    display: none;
  }
}
