// Color system variables
$dark3: #333333 !default;
$dark2: #555555 !default;
$dark1: #777777 !default;
$light4: #f9f9f9 !default;
$red: #ff4136 !default;
$orange: #ff851b !default;
$yellow: #ffdc00 !default;
$aqua: #7fdbff !default;
$blue: #0074d9 !default;
$purple: #b10dc9 !default;
$brown: #85144b !default;

:root {
  --black: #111111;
  --white: #ffffff;
  --light2: #bbbbbb;
  --light3: #dddddd;
  --green: #2ecc40;
}

$black: var(--black);
$green: var(--green);
$white: var(--white);
$light2: var(--light2);
$light3: var(--light3);
