.footer {
  width: 100%;
  background-color: $white;
  border-top: 1px solid;
  border-color: $black;
  color: $black;
  ul {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
  }
  li {
    margin-right: 33%;
  }
  &-span {
    padding-left: 1em;
    font-size: 16px;
  }
  &-a {
    color: $black;
  }
}
