.header {
    font-family: 'Courier Prime', monospace;
    height: 36px;
    border-bottom: 2px solid;
    border-color: $dark2;
    width: 100%;
    &-img {
        max-height: 2rem;
        min-height: 1.25rem;
        padding-top: 0.15em;
        &-a {
            padding-bottom: 0% !important;
        }
    }
    &-nav {
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
        max-width: 90%;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
    &-ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
    }
    &-li {
        margin-right: 2rem;
        padding: 1em 0 1.25em;
    }
    &-span {
        color: $dark3;
    }
    &-span:hover {
        color: $green;
    }
    &-span:hover,
    &-active {
        padding-bottom: 10px;
        border-bottom: 2px solid;
        border-color: $green;
    }
}
