.page {
    display: flex;
    padding: 1.5rem;
    margin-left: 2.25em;
    flex-direction: column;
    overflow-x: hidden;
    &-title {
        margin: 2rem 0 0.5rem;
        font-size: 40px;
        font-weight: 700;
    }
    time {
        color: $dark2;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    a {
        color: $green;
        &:hover {
            color: $black;
            border-bottom: $black solid 1px;
        }
    }
    blockquote {
        margin-left: 0;
        margin-right: 0;
        color: $dark1;
        padding-left: 10px;
        border-left: 3px solid $dark1;
        sup {
            padding-left: 0.25rem;
        }
        a {
            border-bottom: 1px solid $green;
        }
    }
    .footnote-definition {
        sup {
            top: -0.2.5em;
            font-size: 0.75em;
            display: inline;
        }
        p {
            display: inline;
        }
    }
    table {
        margin-top: 1rem;
        width: 100%;
        border-collapse: collapse;
        td,
        th {
            border: 1px solid $dark1;
            background-color: $white;
            padding: 5px 14px;
        }
    }
    pre {
        margin-top: 1rem;
        background-color: #f6f7f6 !important;
        box-shadow: 2px solid;
        padding: 0 8px;
        overflow-x: auto;
    }
    code {
        font-family: 'JetBrains Mono';
        color: $black;
        font-size: 85%;
        background-color: transparent !important;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
        ol {
            padding-left: 15px;
        }
    }
    kbd {
        display: inline-block;
        padding: 4px 5px;
        font-size: 1.125rem;
        box-shadow: inset $light2 0px -1px 0;
        vertical-align: middle;
        border-radius: 2px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
@keyframes sidebar_in {
    0% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 1000px;
        opacity: 1;
    }
}

@keyframes sidebar_out {
    0% {
        max-height: auto;
        opacity: 1;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

.sidebar {
    position: sticky;
    top: 1rem;
    box-sizing: border-box;
    padding-left: 0;
    height: calc(150vh - 1rem);
    &-li {
        display: flex;
        padding: 8px 0;
        margin-left: 0.25em;
        &-toggle {
            position: absolute;
            opacity: 0;
        }
        &::before {
            content: '';
            background-image: url('/chevron.svg');
            background-size: 15px 15px;
            height: 15px;
            width: 15px;
            transform: rotate(0deg);
            transform-origin: 50% 50% 0px;
            transition: transform 0.1s linear 0s;
        }
        span {
            cursor: pointer;
        }
        &-toggle {
            position: absolute;
            opacity: 0;
        }
        &-toggle:checked + &::before {
            content: '';
            background-image: url('/chevron.svg');
            background-size: 15px 15px;
            height: 15px;
            width: 15px;
            transform: rotate(90deg);
            transform-origin: 50% 50% 0px;
            transition: transform 0.1s linear 0s;
        }
        &-toggle:checked + & + .sidebar-subsection {
            animation-name: sidebar_in;
            animation-duration: 0.25s;
            animation-fill-mode: both;
        }
        &-toggle:checked + & + .sidebar-subsection {
            animation-name: sidebar_out;
            animation-duration: 0.25s;
            animation-fill-mode: both;
        }
    }

    &-link {
        display: flex;
        text-align: left;
        border-left: 1px solid $dark2;
        margin-left: 2rem;
        &-a {
            display: flex;
            padding: 8px 0;
        }
        &-div {
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: -5.5px;
            svg {
                padding-right: 5px;
                display: block;
            }
        }
    }
    &-link-a__active,
    &-link-a:hover,
    &-link-div:hover {
        background-color: $white;
        display: flex;
        opacity: 1;
        color: $green;
        svg [fill] {
            fill: $green;
        }
    }
    &-pages {
        margin-left: 1em;
    }
}
