.sidebar {
  position: sticky;
  top: 1rem;
  height: calc(110vh - 1rem);
  padding-left: 0;
  max-height: 100vh;
  width: 350px;
  border-right: 1px solid $black;
  overflow-y: auto;
  &__pages {
    margin-left: 0.5rem;
    margin-top: 1em;
    &-link {
        margin-top: 1em;
    }
  }
  &__subsection {
    margin-left: 0.5rem;
    &-page {
        margin-left: 0.5em;
        margin-top: 1em;
        color: $dark3;
    }
  }
  &-link {
    display: flex;
    text-align: left;
    &-a {
        margin-top: 1em;
    }
    &::before {
        content: '';
        margin-right: 1.5em;
        border-left: 1px solid $black;
    }
  }
  &__active-pages,
  &-link:hover,&__pages:hover{
    color: $green;
    border-right: 1px solid $green;
  }
  &__active-link {
    color: $green;
  }
  &__close {
    display: none;
  }
}



@media(max-width: 1000px) {
    .sidebar{
        display: none;
        &__close {
            display: block;
            z-index: 100;
        }
    &__active-pages,
    &-link:hover,&__pages:hover{
       color: $green;
       border: none;
    }

  }
  .show-sidebar {
    margin-left: 0.5rem;
  }
  #sidebar {
    display: block;
    border: none;
    top: 4.5rem;
    position: fixed;
    background: $white;
    width: 50%;
    height: 100%;
    transition: transform .25s;
    transform: translateX(-100%);
    &:target {
       transform: translateX(0);
       z-index: 100;
   }
}
}
