{% extends 'base.html' %}
    <body>
        {% block body %}
            {% block content %}
            {% block welcome %}
            <h1 class="welcome"> Welcome to Karzok</h1>
            <p class="welcome-p">
                A theme for your documentation. Fast and secure
            </p>
            {% endblock welcome %}
            <section class="menu">
                {% if config.extra.menu %}
                {% for link in config.extra.menu %}
                {% set item_link = link.link  | replace(from="$base_url", to=config.base_url) %}
                        <a class="menu-a" href="{{ item_link | safe }}">
                        <div class="menu-div">
                            <h3 class="menu-index"> {{ link.text }} </h3>
                        </div>
                    </a>
                    {% endfor %}
                </section>
                {% endif %}
            {% endblock content %}
        {% endblock body %}
    </body>
</html>
