{% extends 'base.html' %}
    <body>
        {% block body %}
            {% block content %}
            {% block welcome %}
            <div class="welcome">
            <h1 class="welcome__heading"> Welcome to Karzok</h1>
            <p class="welcome__description">
                A theme for your documentation. Fast and secure
            </p>
            </div>
            {% endblock welcome %}
            <section class="menu">
                {% if config.extra.menu %}
                {% for link in config.extra.menu %}
                {% set item_link = link.link  | replace(from="$base_url", to=config.base_url) %}
                        <a class="menu__link" href="{{ item_link | safe }}">
                            <span class="menu__link-index"> {{ link.text }} </span>
                        </div>
                    </a>
                    {% endfor %}
                </section>
                {% endif %}
            {% endblock content %}
        {% endblock body %}
    </body>
</html>
