{% macro title_or_last(component, offset=2) %}
    {% set length = component.components | length %}
    {% set last = component.components | last %}
    {{ component.title | default(value=name) }}
{% endmacro title_or_last %}
<!-- Math liblary - katex enable -->
{% macro math() %}
{% if page.extra.math or section.extra.math or config.extra.math %}
        {% if config.extra.localcdn %}
        <link rel="stylesheet" href="{{ get_url(path='katex/dist/katex.min.css') }}">
        <script defer src="{{ get_url(path='katex/dist/katex.min.js') }}"></script>
        <script defer src="{{ get_url(path='katex/dist/contrib/auto-render.min.js') }}"></script>
        <script defer src="{{ get_url(path='katex/dist/contrib/mathtex-script-type.min.js') }}"></script>
        {% else %}
        {% set cdnurl = config.extra.cdnurl | default(value="https://cdn.jsdelivr.net/npm/") %}
        <link rel="stylesheet" href="{{ cdnurl | safe }}katex/dist/katex.min.css">
        <script defer src="{{ cdnurl | safe }}katex/dist/katex.min.js"></script>
        <script defer src="{{ cdnurl | safe }}katex/dist/contrib/auto-render.min.js"></script>
        <script defer src="{{ cdnurl | safe }}katex/dist/contrib/mathtex-script-type.min.js"></script>
        {% endif %}
        <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false}
            ],
          // • rendering keys, e.g.:
          throwOnError : false,
          strict: false
        });
    });
</script>
        {% endif %}
{% endmacro %}

<!-- table of contnet -->
{% macro toc(page) %}
<aside class="toc">
    <h3 class="toc-h3"> In this article </h3>
    <ul class="toc-ul">
        {% for h1 in page.toc %}
        <li class="toc-li {% if h1.permalink | safe == current_url %} toc-li__active {% endif %}"> <a class="toc-a " href="{{ h1.permalink | safe }}"> {{ h1.title }} </a></li>
        {% if h1.children and config.extra.children %}
        {% for h2 in h1.children %}
        <li class="toc-li x2 {% if h2.permalink | safe == current_url %} toc-li__active {% endif %}"> <a class="toc-a " href="{{ h2.permalink| safe }}"> {{ h2.title }} </a></li>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </ul>
</aside>
{% endmacro %}

{% macro sidebar(current_url) %}
    {% set index = get_section(path="_index.md") %}
<nav class="sidebar">
    <ul class="sidebar-ul">
    {% if index.pages %}
        {% for page in index.pages %}
        <li class="sidebar-pages">
            <a class="sidebar-link-a" href="{{ page.permalink | safe  }}">
      <div class="sidebar-link-div{% if current_url == page.permalink %} sidebar-link-a__active{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none" viewBox="0 0 8 8"><circle cx="4" cy="4" r="3" fill="#000"/></svg></div><span class="{% if current_url == page.permalink %}sidebar-link-a__active{% endif %}"> {{page.title }} </span></a></li>
        {% endfor %}
    {% endif %}
        {% if index.subsections %}
            {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            <li class="sidebar-li">
                <a href="{{ subsection.permalink }}"> <span>{{ subsection.title }}</span> </a>
            </li>
            {% if subsection.pages %}
            {% for page in subsection.pages %}
            <li class="sidebar-link">
                    <a class="sidebar-link-a"  href="{{ page.permalink | safe}}"><div class="sidebar-link-div{% if current_url == page.permalink %} sidebar-link-a__active{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none" viewBox="0 0 8 8"><circle cx="4" cy="4" r="3" fill="#000"/></svg></div><span class="{% if current_url == page.permalink %}sidebar-link-a__active{% endif %}"> {{page.title }} </span></a></li>
            {% endfor %}
            {% endif%}
            {% endfor %}
    {% endif %}
    </ul>
</nav>
{% endmacro %}

