<!-- header  -->
{% macro header(current_url) %}

<!-- It's hack -->
{% set current_link = current_url | safe | trim_end_matches(pat="/")  %}
<header class="header">
    <nav class="header__nav" itemscope itemtype="http://shema.org/SiteNavigationElement">
        <ul class="header__list">
            <li class="header__list-item">
                <a class="header__link {% if current_link == config.base_url %} header__link-active {% endif %} {% if config.extra.logotype %}header-img-a{%endif%}" href="{{ config.base_url | safe }}">
                    {% if config.extra.logotype %}
                    <img class="header__logotype" width="31" height="31" alt="favicon" src="{{ get_url(path=config.extra.logotype)}}" />
                    {% else %}
                    <span class="header__link-text"> {{ config.extra.header.name | default(value="Home") }}</span>
                    {% endif %}
                </a>
            </li>
            {% if config.extra.header %}
            {% for item in config.extra.header %}
            {% set val_link = item.link  | replace(from="$base_url", to=config.base_url) %}
            <li class="header__list-item">
                <a itemprop="url" class="header__link {% if current_link == val_link %} header__link-active {% endif %}" href="{{ val_link | safe }}">
                    <span class="header__link-text"> {{ item.text }} </span>
                </a>
            </li>
            {% endfor %}
            {% endif %}
            {% if config.extra.devmode %}
            <button id="mode" type="button" aria-label="Toggle mode">Dark Mode</button>
            {% endif %}
        </ul>
    </nav>
</header>
{% endmacro %}

<!-- footer in the page -->
{% macro footer() %}
{% if config.extra.version and not config.extra.footer %}
 <script>
    fetch('{{ config.extra.version | safe }}')
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            let version_name = data.name;
            let html_url = data.html_url;
                   version.innerHTML = `<a class="footer-a" href='${html_url}'>${version_name}</a>`;
          });
</script>
{%endif%}
<footer class="footer">
        <ul>
            {% if config.extra.footer %}
            {% for item in config.extra.footer%}
            <li><span class="footer-span">{% if item.url %}<a href="{{ item.url }}"/> {% endif %}{{ item.text }}</span></li>
            {% endfor %}
            {% else %}
            <span class = "footer-span"> powered by  <a class="footer-a" href="https://fmatch.org/karzok"> karzok </a></span>
            <span class = "footer-span"><span id="version"></span></span>
            {% endif %}
        </ul>
</footer>
{% endmacro %}
{% macro title_or_last(component, offset=2) %}
    {% set length = component.components | length %}
    {% set last = component.components | last %}
    {{ component.title | default(value=name) }}
{% endmacro title_or_last %}
<!-- Math liblary - katex enable -->
{% macro math() %}
{% if page.extra.math or section.extra.math or config.extra.math %}
        {% if config.extra.localcdn %}
        <link rel="stylesheet" href="{{ get_url(path='katex/dist/katex.min.css') }}">
        <script defer src="{{ get_url(path='katex/dist/katex.min.js') }}"></script>
        <script defer src="{{ get_url(path='katex/dist/contrib/auto-render.min.js') }}"></script>
        <script defer src="{{ get_url(path='katex/dist/contrib/mathtex-script-type.min.js') }}"></script>
        {% else %}
        {% set cdnurl = config.extra.cdnurl | default(value="https://cdn.jsdelivr.net/npm/") %}
        <link rel="stylesheet" href="{{ cdnurl | safe }}katex/dist/katex.min.css">
        <script defer src="{{ cdnurl | safe }}katex/dist/katex.min.js"></script>
        <script defer src="{{ cdnurl | safe }}katex/dist/contrib/auto-render.min.js"></script>
        <script defer src="{{ cdnurl | safe }}katex/dist/contrib/mathtex-script-type.min.js"></script>
        {% endif %}
        <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false}
            ],
          // • rendering keys, e.g.:
          throwOnError : false,
          strict: false
        });
    });
</script>
        {% endif %}
{% endmacro %}
