{% extends "base.html" %}
{% block htmltitle %}
    {{ page.title }}
{% endblock htmltitle %}

{% block content %}
<main class="docs">
{{ page_macros::sidebar(current_url=current_url) }}
    <article class="page">
       <h1 class="page-title"> {{ page.title }} </h1>
{% block sections %}
    <ul class="sections">
        {{ page_macros::relative_path() }}
        {{ page_macros::word_count() }}
        {{ page_macros::reading_time() }}
        {{ page_macros::date() }}
        {{ page_macros::taxonomies_authors() }}
    </ul>
{% endblock sections %}
           {{ page.content | safe }}
        </article>
{{ page_macros::toc(page=page) }}
</main>
{% endblock content %}
