{% extends "base.html" %}
{# import styles for page #}
{% block styles %} {{ macros::styles(file='page.css')}} {% endblock styles %}
{# page title #}
{% block htmltitle %} {{ page.title }} {% endblock htmltitle %}
{% block content %}
<main>
  <div class="show-bar">
    <a href="#sidebar" role="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        aria-hidden="true"
        fill="currentColor"
      >
        <rect x="12" y="6" width="14" height="2" />
        <rect x="12" y="12" width="10" height="2" />
        <rect x="12" y="18" width="14" height="2" />
        <rect x="12" y="24" width="10" height="2" />
        <rect x="6" y="4" width="2" height="24" />
      </svg>
    </a>
    <a href="#toc" role="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="currentColor"
      >
        <rect x="6" y="6" width="14" height="2" />
        <rect x="10" y="12" width="10" height="2" />
        <rect x="6" y="18" width="14" height="2" />
        <rect x="10" y="24" width="10" height="2" />
        <rect x="24" y="4" width="2" height="24" />
      </svg>
    </a>
  </div>
  {{ page::sidebar(current_url=current_url) }}
  <article>
    <h1 class="title">{{ page.title }}</h1>
    {% block sections %}
    <ul class="sections">
      {{ page::relative_path() }}
      {{ page::word_count() }}
      {{ page::reading_time() }}
      {{ page::date() }}
      {{ page::taxonomies_authors() }}
    </ul>
    {% endblock sections %}
    {{ page.content | safe }}
    {%- if page.heavier or page.lighter %}
    <nav class="navigation">
    {% if page.lighter %}
      <a href="{{ page.lighter.permalink | safe }}">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="18" height="18" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z"></path></svg>
          <span>{{ page.lighter.title }} </span>
      </a>
    {% endif -%}
    {%- if page.heavier %}
      <a href="{{ page.heavier.permalink | safe }}">
          <span> {{ page.heavier.title }} </span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="18" height="18" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"></path></svg>
      </a>
    {% endif %}
    </nav>
    {% endif -%}
  </article>
  {{ page::toc(page=page) }}
</main>
{% endblock content %}
