{% extends "base.html" %}
{% block styles %} {{macros::styles(file='section.css') }} {% endblock styles %}
{% block htmltitle%} {{ macros::title_or_last(component=section) }} - {{ config.title }} {%endblock htmltitle %}
{% block title %} {{macros::title_or_last(component=section) }} {% endblock title %}
{% block math%} {{ macros::math() }} {% endblock math %}
{% block content %}
<section>
  {% for page in section.pages %}
  <a href="{{ page.permalink }}">
    <span>{{ macros::title_or_last(component=page, offset=0) }}</span>
    <div>
      {% if page.date %}
      <time> {{page.date}} </time>
      {% endif %} {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</section>
{% endblock content %}
