{% import 'macros/common.html' as macros -%}
<!DOCTYPE html>
<html lang="{{ lang | default(value="en")}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <meta name="color-scheme" content="light dark">
        {% if config.description %}
        <meta name="description" content="{{ config.description }}">
        {% elif config.languages %}
        <meta name="description" content="{{ trans(key="description", lang=lang) }}">
        {% endif %}
        {% if not config.extra.localcdn %}
        <link rel="prefetch" href="{{ config.extra.cdnurl | default(value="https://cdn.jsdelivr.net") | safe }}" >
        {% endif %}
        {% if config.extra.assets_url %}
        <link rel="prefetch" href="{{ config.extra.assets_url | safe }}" >
        {% endif %}
        <meta name="theme-color" content="{{ config.extra.theme_color | default(value="#fff") }}">
        <link rel="icon" href="{{ get_url(path=config.extra.favicon | default(value='/favicon.ico') ) }}">
        {% block math %}
          {{ macros::math() }}
        {% endblock math %}
          {{ macros::styles(file='style.css') }}
        {% block styles %}
        {% endblock styles %}
        <title>{% block htmltitle %} {{ config.title }}{% endblock htmltitle %}</title>
        {#
        {% for files in ["modern-normalize/modern-normalize.css","@fontsource/inter/400.css","@fontsource/inter/700.css","@fontsource/jetbrains-mono/400.css"] %}
        {{ macros::styles(file=files,usecdn=true) }}
        {% endfor %}
        #}
    {% if config.generate_rss %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
    {% endif %}
</head>
<body>
    <script>
      document.body.dataset.theme = localStorage.getItem("theme") || "auto";
    </script>
    {% block content %}
    {% endblock content %}
    {% block footer %}
        {{ macros::footer() }}
    {% endblock footer%}
    {{ macros::scripts(file="mode-switch.js")}}
    {% if config.build_search_index or lang.build_search_index %}
    {{ macros::scripts(file="elasticlunr.min.js") }}
    <script src="{{ get_url(path='search_index.'~ lang ~'.js') | safe }}"></script>
    {{ macros::scripts(file="search.js")}}
    {% endif %}
    {% block diagrams %}
        {{ macros::diagrams() }}
    {% endblock diagrams %}
</body>
</html>
