.header {
  height: 36px;
  border-bottom: 1px solid;
  border-color: $dark2;
  width: 100%;
  &__logotype {
    max-height: 2rem;
    min-height: 1.25rem;
    padding-top: 0.15em;
    &-link {
      padding-bottom: 0%;
    }
  }
  &__nav {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  &__list-item {
    margin-right: 2rem;
    padding: 1em 0 1.25em;
  }
  &__link {
    &-text {
      color: $dark3;
    }
    &-text:hover {
      color: $green;
    }
    &-text:hover,
    &-active {
      padding-bottom: 9px;
      border-bottom: 2px solid;
      border-color: $green;
    }
    &-vector {
      display: flex;
      margin-top: 0.25em;
      border: 1px solid $dark3;
    }
  }
  &__svg {
    display: flex;
    padding: 3px 3px;
  }
  &__left {
    display: flex;
    align-items: center;
    li {
      margin-right: 1rem;
    }
  }
  &__container {
    display: none;
    display: flex;
    flex-flow: row wrap;
    background: $white;
    box-shadow: 0 3px 10px $light3;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
    &-link {
      display: flex;
      margin: 1em;
      margin-left: 3rem;
      flex: 0 0 25%;
    }
    &-title,
    &-description {
      padding-left: 1em;
    }
    &-svg {
      margin-top: 0.25rem;
      color: $black;
    }
    &-column {
      display: flex;
      flex-direction: column;
      max-width: 10rem;
    }
    &-description {
      color: $black;
    }
  }
  &__center {
    display: flex;
    &-input {
      padding: 4px 30px;
      background-color: $light4;
      border: none;
    }
    &-suggestions {
      overflow: auto;
      background-color: $white;
    }
    &-svg {
      margin-left: 0.1em;
      margin-top: 0.35em;
      position: absolute;
      background: transparent;
    }
  }
  &__right {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }
}

#suggestions {
  position: absolute;
  max-height: 500px;
  overflow: auto;
  margin-top: 2.1em;
  max-width: 100%;

  & a {
    display: flex;
    padding: 0.75rem;
    border: 1px solid $black;
  }

  & span:first-child {
    padding-right: 1.5rem;
    text-align: right;
  }

  & span:nth-child(2) {
    width: 20rem;
    padding-left: 1rem;
  }
}

@media (max-width: 1000px) {
  .header__center,
  #suggestions {
    display: none;
  }
}
