.sidebar {
  padding-left: 0;
  max-height: 100vh;
  width: 350px;
  border-right: 1px solid var(--black);
  &__pages {
    margin-left: 0.5rem;
    margin-top: 1em;
    &-link {
      margin-top: 1em;
    }
  }
  &__subsection {
    margin-left: 0.5rem;
    &-page {
      padding-left: 0.5em;
      margin-top: 1em;
      color: $dark3;
    }
  }
  &__toggle {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    &-icon {
        position: relative;
        cursor: pointer;
        top: 0.150rem;
        left: -0.15rem;
    }
    & ~ .sidebar__subsection {
        display: none;
    }
    &:checked ~ .sidebar__subsection {
        display: block;
    }
    & ~ &-icon {
        transform: rotate(0deg);
        transition: .2s ease-in-out;
    }
    &:checked ~ &-icon {
        transform: rotate(90deg);
        transition: .2s ease-in-out;
    }
  }
  &-link {
    display: flex;
    text-align: left;
    &-a {
      margin-top: 1em;
    }
    &::before {
      content: '';
      padding-left: 1.5rem;
//      border-left: 1px solid var(--black);
    }
  }
  &__active-pages,
  &-link:hover,
  &__pages:hover {
    color: var(--green);
    border-right: 1px solid var(--green);
  }
  &__active-link {
    color: var(--green);
  }
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
    &__active-pages,
    &-link:hover,
    &__pages:hover {
      color: var(--green);
      border: none;
    }
  }
  .show-sidebar {
    margin-left: 0.5rem;
  }
  #sidebar {
    display: block;
    left: 0;
    transform: translateX(-100%);
    &:target {
      transform: translateX(0);
      z-index: 6;
    }
  }
}
