.toc {
  margin-right: 1.25em;
  margin-left: 1em;
  width: 250px;
  &-ul {
    position: sticky;
    border-left: 1px solid;
    padding-left: 0;
    border-color: $dark2;
    max-width: 100%;
  }
  &-li {
    position: relative;
    margin-top: 0.345rem;
    padding-top: 0.345rem;
  }
  &-a {
    display: block;
    letter-spacing: normal;
    margin-left: 24px;
    padding: 8px 0;
    font-size: 15px;
    line-height: 16px;
  }
  &-li:hover::before,
  &-li__active::before {
    position: absolute;
    left: -2px;
    height: 100%;
    content: '';
    border-left: 2px solid;
    border-color: $green;
  }
  &__close {
    display: none;
  }
}

@media (max-width: 1000px) {
  .toc {
    display: none;
    &-ul {
      border: none;
    }
    &-a:hover {
      color: $green;
    }
  }
  .show-toc {
    margin-right: 0.5rem;
  }
  h3 {
    display: none;
  }
  #toc {
    right: 0;
    transform: translateX(150%);
    &:target {
      transform: translateX(25px);
      z-index: 6;
    }
  }
}
