header {
  height: 36px;
  border-bottom: 0.1rem solid;
  border-color: $dark1;
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  .logotype {
    max-height: 2rem;
    min-height: 1.25rem;
    padding-top: 0.15em;
    a {
      padding-bottom: 0%;
    }
  }
  nav {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    align-items: center;
    height: 100%;
    li {
      padding: 1em 0 1.25em;
      margin-right: 1rem;
    }
    ul:first-child {
      span:hover,
      .active {
        padding-bottom: 9px;
        border-bottom: 2px solid;
        border-color: var(--green);
      }
    }
    .vector {
      display: flex;
      margin-top: 0.2em;
      border: 1px solid $dark1;
      &:hover {
        color: var(--foreground);
        background: var(--background);
      }
      span:hover {
        color: var(--foreground);
        background: var(--background);
      }
      span.svg:hover {
        filter: invert(100%);
      }
    }
  }
  a {
    span {
      color: var(--foreground);
    }
    span.svg {
      display: flex;
      padding: 3px 3px;
    }
    span:hover {
      color: var(--green);
    }
  }
  form {
    display: flex;
    border: 1px solid;
    border-color: var(--foreground);
    input {
      color: var(--foreground);
      background: var(--background);
      padding: 4px 4px;
      border: none;
    }
    button {
      margin-left: 0.1em;
      margin-top: 0.35em;
      position: absolute;
      background: transparent;
    }
    &:hover,
    & input:focus,
    & input:hover {
      width: 34rem;
    }
  }
}

#suggestions {
  position: absolute;
  max-height: 200px;
  margin-top: 2.1em;
  max-width: 100%;
  z-index: 2;
  overflow: auto;
  background-color: var(--background);
  & a {
    display: flex;
    padding: 0.75rem;
    border: 1px solid var(--foreground);
  }

  & span:first-child {
    padding-right: 1.5rem;
    text-align: right;
  }

  & span:nth-child(2) {
    width: 20rem;
    padding-left: 1rem;
  }
}

@media (max-width: 1000px) {
  header form,
  #suggestions {
    display: none;
  }
}
