aside {
  background: var(--background);
  padding-top: 1rem;
  span {
    color: var(--foreground);
    font-weight: bold;
    font-size: 17px;
  }
  ul {
    position: sticky;
    border-left: 1px solid;
    border-color: $dark1;
    padding-left: 0;
    max-width: 100%;
  }
  li {
    display: grid;
    position: relative;
    margin-top: 0.345rem;
    padding-top: 0.345rem;
    &.children {
        a {
          margin-left: 2.5rem;
        }
    }
    &.edit-page {
        svg {
         margin-right: 0.5rem;
        }
    }
  }
  a {
    display: inline-block;
    letter-spacing: normal;
    margin-left: 24px;
    padding: 8px 0;
    font-size: 15px;
    line-height: 16px;
  }
  li:hover::before,
  .active::before {
    position: absolute;
    left: -2px;
    height: 100%;
    content: '';
    border-left: 2px solid;
    border-color: var(--green);
  }
}

@media (max-width: 1000px) {
  aside {
    display: none;
    span {
     margin-left: 1rem;
    }
    ul {
      border: none;
    }
  }
  #toc {
    display: block;
    right: 0;
    min-width: 50%;
    transform: translateX(150%);
    &:target {
      transform: translateX(10px);
      z-index: 3;
    }
  }
}
