on:
  push:
    branches:
    - '**'
    tags:
    - '**'
  pull_request:
    types: [closed]
    branches:
    - '**'
name: mirror to sr.ht
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v1
        - uses: pixta-dev/repository-mirroring-action@v1
          with:
            target_repo_url:
              git@git.sr.ht:~kogeletey/${{ github.event.repository.name }}
            ssh_private_key:
              ${{ secrets.GIT_SSH_PRIVATE_KEY }}
